﻿/*
Theme Name: قالب مهرآفرین
Template: kiwi
*/

@font-face {
    font-family:"lists-font"!important;
    src:url('fonts/font-family: "lists-font"!important;.eot?#')format('eot'),url('fonts/font-family: "lists-font"!important;.woff') format('woff'),url('fonts/font-family: "lists-font"!important;.ttf') format('truetype');
}
body{
    font-family:"lists-font"!important;
}
h1,h2,h3,h4,h5,h6,p{
    font-family: "lists-font"!important;
    font-weight:300!important;
    letter-spacing:0!important;
}
ol.table-of-content li{
    font-family: "lists-font"!important;
    font-weight:300!important;
    letter-spacing:0!important
}
.form-control,.search-form input[placeholder]{
    font-family: "lists-font"!important;
}
.mp-vendor-page .mp-link{
    font-family: "lists-font"!important;
    font-weight:300
}
.full-description h4.mpdesc{
    font-family: "lists-font"!important;
    font-weight:300
}
.mp-vc-featured-author .author h4 a{
    font-family: "lists-font"!important;
    font-weight:300
}
.full-description span.number{
    font-family: "lists-font"!important;
    font-weight:300
}
.mp-vc-items .tooltip-inner h3,.mp-vc-items .div-tooltip-flex .price.free{
    font-family: "lists-font"!important;
    font-weight:300
}
.kiwi-edd-category-block .cat-subtitle,.kiwi-edd-category-block .total-items,.kiwi-edd-category-block .subcatlist,.mp-vc-featured-author .author-desc{font-size:14px}.topbar-features li.pro-cart li a,.topbar-features li.pro-dashboard li a,.topbar-features li.pro-downloads li a,.topbar-features li.pro-wishlist li a,.topbar-features li.pro-vendor li a{font-family: "lists-font"!important;font-weight:300}.mp-vc-featured-author .text-due{font-family: "lists-font"!important;font-weight:300}.widget_edd_product_details.widget-style-two .price-button,.tooltip{font-family: "lists-font"!important;font-weight:300}.widget_edd_product_details .price{font-size:22px}.widget_edd_product_details.widget-style-two .price-button span.text{font-size:22px;margin-top:0}.widget_edd_product_details.widget-style-two .edd_purchase_submit_wrapper a.edd-add-to-cart.edd-has-js{font-family: "lists-font"!important;font-weight:300; text-align:center !important;}.widget_edd_product_details.widget-style-two .edd-wl-action span{font-family: "lists-font"!important;font-weight:300}.widget_marketplace_item_demolink a span{font-family: "lists-font"!important;font-weight:300}.vc-post-items span.time{font-size:13px}.mp-license p,.mp-license li{font-family: "lists-font"!important;font-weight:300}.uvc-sub-heading{font-family: "lists-font"!important;font-weight:300}.aio-icon-header+.aio-icon-description{font-family: "lists-font"!important;font-weight:300}.left-icon .aio-icon-description,.left-icon .aio-icon-header{font-family: "lists-font"!important;font-weight:300!important;letter-spacing:0!important}.customer-dashboard-content h2{font-family: "lists-font"!important;font-weight:300!important;letter-spacing:0!important}.form-submit input.submit,input[type="submit"]{font-family: "lists-font"!important;font-weight:300!important;letter-spacing:0!important}.customer-dashboard-menu ul.menu li a{font-family: "lists-font"!important;font-weight:300}.mp-deposit #edd_wallet_deposit_amount_wrapper li{font-family: "lists-font"!important;font-weight:300}label,.label{font-family: "lists-font"!important;font-weight:300!important}.mp .edd-wl-item-title a{font-family: "lists-font"!important;font-weight:300}.breadcrumbs{font-family: "lists-font"!important;font-weight:300}span.edd_checkout_cart_item_title{font-family: "lists-font"!important;font-weight:300}#edd_checkout_cart td.edd_cart_item_price{font-weight:300}#edd_checkout_user_info legend,#edd_register_account_fields legend{font-family: "lists-font"!important;font-weight:300}.mp-account-overview div.result{font-family: "lists-font"!important;font-weight:300}#edd_user_history td.edd_download_download_name a{font-family: "lists-font"!important;font-weight:300}.widget-mk-kiwi h3 a{font-family: "lists-font"!important;font-weight:300}.mp-fes-fullwidth .fes-vendor-menu ul li a{font-family: "lists-font"!important;font-weight:300}td.fes-product-list-td.mp-title{font-family: "lists-font"!important;font-weight:300}.kiwi-nav li a{font-family: "lists-font"!important;font-weight:100!important;letter-spacing:0!important;font-size:13px!important}.form-control,.search-form input[placeholder]{font-family: "lists-font"!important;font-weight:300!important;letter-spacing:0!important;font-size:14px!important}.topbar .pull-left,.topbar ul li a,.topbar ul li{font-family: "lists-font"!important;font-weight:300}.widget_edd_cart_widget ul.edd-cart li span.edd-cart-item-title,ul.edd-cart li span.edd-cart-item-title{font-family: "lists-font"!important;font-weight:300}.widget_edd_cart_widget ul.edd-cart li span.edd-cart-item-price,ul.edd-cart li span.edd-cart-item-price{font-family: "lists-font"!important;font-weight:300!important}.sidebar .sidebar-widget .author h4 a{font-family: "lists-font"!important;font-weight:300!important}.widget-style-two.author .portfolio-link{font-family: "lists-font"!important;font-weight:300!important}.widget-style-two.author .table.author-specs{font-family: "lists-font"!important;font-weight:300!important}.marketplace .btn-group.stats .btn-default{font-family: "lists-font"!important;font-weight:300!important}.edd-cart-meta.edd_total span{font-family: "lists-font"!important;font-weight:300!important}.widget_recent_entries ul li .post-widget-text a{font-family: "lists-font"!important;font-weight:300!important}.widget_recent_comments a.author{font-family: "lists-font"!important;font-weight:300!important}.format-standard h3 a,.format-quote h3 a,.format-gallery h3 a,.format-aside h3 a,.format-image h3 a,.format-link h3 a,.format-status h3 a,.format-video h3 a,.format-audio h3 a,.format-chat h3 a{font-family: "lists-font"!important;font-weight:300!important}.meta-category a{font-family: "lists-font"!important;font-weight:300!important}.format-gallery .meta-data,.format-image .meta-data,.format-audio .meta-data,.format-aside .meta-data,.format-status .meta-data,.format-chat .meta-data,.format-link .meta-data,.format-standard .meta-data,.format-video .meta-data,.format-quote .meta-data,.type-page .meta-data{font-family: "lists-font"!important;font-weight:300!important}.meta-category-single{font-family: "lists-font"!important;font-weight:300!important}.meta-category-single a,.metadata-single{font-family: "lists-font"!important;font-weight:300!important}p{line-height:25px}ol.commentlist cite .fn,ol.commentlist cite .fn a{font-family: "lists-font"!important;font-weight:300!important}.widget_recent_entries ul li .post-widget-text .post-date{font-family: "lists-font"!important;font-weight:300!important}.footer{font-family: "lists-font"!important;font-weight:300!important}.footer .footer-widget.widget_edd_categories_normal_widget ul li a{font-family: "lists-font"!important;font-weight:300!important}.footer .purchase-button a{font-family: "lists-font"!important;font-weight:300!important}#edd_purchase_receipt_products .mp-price{font-family: "lists-font"!important;font-weight:300!important}.mp-full-dashboard h1.fes-headers{font-family: "lists-font"!important;font-weight:300!important}.widget_edd_product_details.widget-style-two .mp-coming-soon{font-family: "lists-font"!important;font-weight:300!important}.widget_edd_product_details.widget-style-two .edd-coming-soon-vote-btn{font-family: "lists-font"!important;font-weight:300!important}.widget_edd_product_details.widget-style-two .price.free{font-family: "lists-font"!important;font-weight:300!important}.modal-footer{font-family: "lists-font"!important;font-weight:300!important}.edd-wl-item-title a{font-family: "lists-font"!important;font-weight:300!important}body{direction:rtl}.entry-content.kiwi-page{direction:ltr}.metadata-single .pull-left{text-align:left}.flex-viewport{direction:ltr}.entry-content.kiwi-page *{direction:rtl}h3.comment-reply-title span{padding-left:10px;padding-right:0}.mp_author .byline{float:left}.widget_edd_product_details .price{min-width:170px}.widget_edd_cart_widget ul.edd-cart li a.edd-remove-from-cart,ul.edd-cart li a.edd-remove-from-cart{float:left}.widget_edd_cart_widget ul.edd-cart li span.edd-cart-item-quantity,ul.edd-cart li span.edd-cart-item-quantity{display:none;float:left}.widget_edd_cart_widget .edd-cart-number-of-items,.edd-cart-number-of-items{margin:0 0 0 5px!important;float:right}.pull-left.topmenu{margin-top:20px}div.fes-form fieldset.fes-el.password input{width:301px}#edd_checkout_form_wrap input[type=radio]{margin-left:5px;margin-right:0}#edd_checkout_form_wrap #edd-payment-mode-wrap label{margin:0 0 0 20px}.kiwi-nav ul ul{right:100%!important;left:auto!important}#edd-payment-mode-wrap{margin-top:20px}#edd_checkout_user_info{display:none}.kiwi-nav li.menu-item-has-children>a:after{margin-right:15px;float:left;margin-left:0}.kiwi-nav ul>li a{padding:10px 20px 10px 35px}.dropdown-menu{right:0;left:auto;float:right;text-align:right}.layout-sorting.noheading.image-info-short li .other-layouts .iso-desc h4.non{display:none}.form-control{padding:8px 10px 8px 80px;float:right}.search-style-2 .form-control{padding:18px 20px 18px 80px}.search-form button{left:0;right:auto;border-radius:3px 0 0 3px}.search-style-2 .search-form button{margin:15px 20px 0 15px}.filter-layout-sorting{float:left}.filter-view ul.imageview li,.filter-view ul.gridview li,.filter-view ul.image-info-view li,.filter-view ul.image-info-short li{float:right;margin-left:1.4%;margin-right:0}.styled-background .filter-view ul li{float:right;margin-left:1.4%;margin-right:0}#grid li{text-align:right}.marketplace .iso-desc img.avatar{margin:0 0 0 5px}fieldset#edd_checkout_user_info span legend,fieldset#edd_register_account_fields span legend{padding-left:10px;padding-right:0}.iso-desc .align-left{text-align:right}.mp-vc-items-single{float:right}.filter-view .excerpt{min-height:34px}.iso-desc img.avatar{margin:0 0 0 5px}.iso-desc h4 a{line-height:28px}.kiwi-edd-category-block .total-items span{float:left}.topbar .pro-vendor .heading .avatar{float:right}.topbar .pro-vendor .heading img{margin:0 0 0 10px}.topbar .pro-vendor .heading{text-align:right!important}.topbar .menu-item-has-children ul{text-align:right}.author.intro .author-avatar-left{float:right;margin:0 0 10px 15px}.mp-vendor-portfolio .left-column{margin-left:10px;margin-right:0;float:right}.mp-vendor-portfolio .right-column{margin-right:10px;margin-left:0}.mp-vendor-portfolio .right-column{text-align:left;float:left}.marketplace-commentform h3 span{padding-left:10px;padding-right:0}.sidebar-widget .widget_title h3{padding-left:10px;padding-right:0}.widget_edd_product_details.widget-style-two .price-button{text-align:left}.widget_edd_product_details.widget-style-two a.edd-add-to-cart .edd-add-to-cart-label:before{padding-left:10px;padding-right:0}.widget_edd_product_details.widget-style-two .edd-wl-action i{padding-left:10px;padding-right:0}i.glyphicon+.label{padding-right:0}.widget_marketplace_item_demolink a i{padding-left:10px;padding-right:0;font-size:17px}.widget_marketplace_item_demolink a span{padding-right:0}.entry-content.kiwi-page .slider-view *{direction:ltr}.fullwidth *{direction:rtl}.fullwidth{direction:ltr}.vc_column_container{direction:rtl}.edd_widget_title_vc h3{padding-left:10px;padding-right:0}.vc-post-items img{float:right;margin:0 0 10px 20px}.vc-post-items span.pull-right{float:left!important}.vc-post-items .pull-right span{font-size:15px!important}ul.main-menu .dcjq-count{float:left}.mp-fes-fullwidth .fes-vendor-menu ul li{float:right}.edd_widget_title h3,.fes-form h2.fes-section-title{padding-left:10px;padding-right:0}.widget-mk-kiwi img{float:right;margin:0 0 10px 20px}.sidebar-widget .pull-right{float:left!important}.widget-mk-kiwi .pull-right span{font-size:13px!important}.edd_downloads_list.edd_download_columns_0 .iso-thumbnail{float:right}.edd_downloads_list.edd_download_columns_0 .iso-desc{padding-right:15px;padding-left:0}.left-icon .aio-icon-left .aio-icon,.left-icon .aio-icon-left .aio-icon-img{margin-left:15px;margin-right:0}.join-today button{font-weight:300!important}.iso-desc .align-right{text-align:left}.vc-addon-grid .mp-vc-items.grid-view .right-column{float:left}.vc-addon-grid .mp-vc-items .right-column{margin-right:10px;margin-left:0}.default-icon .aio-icon-default .aio-icon,.default-icon .aio-icon-default .aio-icon-img{margin-left:15px;margin-right:0}.mp-account-overview .col-md-6{float:right}.customer-dashboard-menu .menu li{float:right}.mp-deposit #edd_wallet_deposit_amount_wrapper li{float:right}.modal-header{text-align:right}#edd-wl-modal a.edd-wl-close{left:24px;right:auto}.edd-wl-item-image{float:right;margin:5px 0 5px 15px!important}th{text-align:right}#edd_checkout_cart th{font-weight:300}#edd_checkout_cart td,#edd_checkout_cart th{text-align:right}#edd_checkout_cart td img{float:right;margin:0 0 0 8px}#edd_checkout_cart td img{margin:0 0 10px 15px}.edd-wish-list li span.edd-wl-edit{float:left}.widget_edd_product_details.widget-style-two a.edd_go_to_checkout:before{padding-left:10px;padding-right:0}#edd_user_history td,#edd_user_history th{text-align:right}table#edd_purchase_receipt td,table#edd_purchase_receipt th,table#edd_purchase_receipt_products td,table#edd_purchase_receipt_products th{text-align:right}.comment_form_rating label{float:right;margin-left:5px;margin-right:0}.edd_reviews_rating_box{float:right}.comments-area p.comment-form-author,.comments-area p.comment-form-email,.comments-area p.comment-form-email{float:right;margin-right:0;margin-left:1%}.comments-area .form-submit input{margin-top:31px; display: inline-block;}ol.commentlist li{padding-right:90px;padding-left:0}ol.commentlist .avatar{float:right;margin:0 -90px 0 0}ol.commentlist cite{float:right}ol.commentlist .reply-meta{float:left}ol.commentlist .reply-meta span.reply{margin-right:15px;margin-left:0}.widget_recent_entries ul li .post-widget-image{float:right;margin-right:0;margin-left:4%}.widget_recent_entries ul li .post-widget-image img{margin:5px 0 10px 10px}.widget_recent_comments .avatar img{margin:5px 0 10px 15px}.widget_recent_comments .avatar{float:right}.sidebar-widget.widget_edd_reviews_featured_review .edd-featured-review-h-card img{float:right;margin:0 0 10px 10px}.edd_reviews_breakdown .edd-counter-label{float:right;margin-left:4px;margin-right:0}.edd_reviews_breakdown .edd-counter-back{float:right}.edd_reviews_breakdown .edd-review-count{float:right;margin-left:0;margin-right:4px}.footer .widget-mk-kiwi .pull-right{float:left!important}.kiwi-nav>li:first-child>a{/*padding-right:10px*/}.mp-fes-fullwidth #edd_login_form,.mp-fes-fullwidth .fes-login-registration{background:#fff none repeat scroll 0 0;box-shadow:0 0 3px #bfbfbf;margin:20px auto;padding:10px;width:400px}.topmenu .dropdown-menu{right:auto;left:0}.topmenu li.menu-item a span.vendor-name{display:inline-block}.fes-submission-form .fes-label{float:right;padding:0 0 10px 20px}.fes-submission-form .fes-fields{float:right;padding:0 0 10px 20px}.fes-submission-form div.fes-form fieldset .fes-fields label{margin:0 0 0 20px}.checkbox input[type=checkbox],.checkbox-inline input[type=checkbox],.radio input[type=radio],.radio-inline input[type=radio]{margin-right:-20px;margin-left:0}#menu-main.navbar-nav>li>.dropdown-menu{min-width:180px!important}.widget_edd_product_details.widget-style-two .edd-coming-soon-vote-btn{text-align:right}.edd-coming-soon-vote-btn .fa-heart{margin-left:5px;margin-right:0}.form-submit input.submit,input[type="submit"],a.upme-button,input[type=submit].upme-button,input[type=button].upme-button,button.upme-button{background-image:none;background:#FFF;border:0;color:#333;text-shadow:none;font-size:14px;padding:6px 12px;box-shadow:0 0 2px #B5B5B5;transition:all .3s}.form-submit input.submit:hover,input[type="submit"]:hover,a.upme-button:hover,input[type=submit].upme-button:hover,input[type=button].upme-button:hover,button.upme-button:hover{background-image:none;background:#FFF;border:0;color:#333;text-shadow:none;font-size:14px;padding:6px 12px;box-shadow:0 0 5px #424242}div.upme-wrap{box-shadow:0 0 6px #888;background:#FFF}.upme-ajax-loading-icon{display:none}#edd_user_history .edd_download_download.mp-thumbnail img{height:80px;width:100px}.kiwi-nav li.menu-item-has-children>a:after{margin-right:0;float:right;margin-left:15px}#fes-comments-table .fes-author-img img{margin:0 0 20px 15px}#fes-comments-table .fes-author-img{float:right}#fes-comments-table #fes-comment-author{text-align:right}.mp-vc-items .tooltip-inner{text-align:right}#swipebox-overlay{direction:ltr}.full-description span.number{left:0;right:auto}.full-description span.number span{margin:0 10px 0 0}.widget_edd_product_details .price-button{direction:ltr}.widget_edd_product_details .price{direction:rtl}.marketplace .grid-view.one-columns li{margin-left:0}.marketplace .grid-view.two-columns li{margin-left:2%;margin-right:0}.marketplace .grid-view.three-columns li{margin-left:2%;margin-right:0}.marketplace .grid-view.four-columns li{margin-left:2%;margin-right:0}.marketplace .grid-view.two-columns li:nth-child(2n+2),.marketplace .grid-view.three-columns li:nth-child(3n+3),.marketplace .grid-view.four-columns li:nth-child(4n+4){margin-left:0}.marketplace .grid-view.one-columns ul li{margin-left:0}.marketplace .grid-view ul li{float:right}.topbar ul li{float:right}.mp-vc-items.grid-view ul li{float:right;margin-left:2%;margin-right:0}.mp-vc-items .iso-desc{text-align:right}.mp-vc-items.grid-view.one-columns li{margin-left:0}.mp-vc-items.grid-view.two-columns li{margin-left:2%;margin-right:0}.mp-vc-items.grid-view.three-columns li{margin-left:2%;margin-right:0}.mp-vc-items.grid-view.four-columns li{margin-left:2%;margin-right:0}.mp-vc-items.grid-view.two-columns li:nth-child(2n+2),.mp-vc-items.grid-view.three-columns li:nth-child(3n+3),.mp-vc-items.grid-view.four-columns li:nth-child(4n+4){margin-left:0!important}#myModal .first_name .fes-label,#myModal .last_name .fes-label,#myModal .user_email .fes-label,#myModal .subject .fes-label,#myModal .message .fes-label{float:right}.tos-wrapper{direction:ltr}.div-tooltip-flex .column-second{text-align:left}.fes-vendor-menu{overflow:hidden;width:100%}.fes-vendor-menu ul
{display:block;float:left;left:50%;list-style:outside none none;margin:0;padding:0;position:relative}
.footer .purchase-button a {
    margin-top: 20px;
    background: #6b953f;
    color: #fff;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    padding: 5px 25px;
    font-size: 14px;
    display: block;
    text-align: center;
.mp-vc-items .mp-button.styleblock .edd-submit.button.blue {
    background: none;
    border: none;
    margin: 0px;
    margin-top: -40px !important;
}
.kiwi-nav li.menu-item-has-children > a:after {
    position: absolute;
    top: 10px;
    right: 0px;
}
}.fes-vendor-menu ul.mp-dashboard-links-limit li{padding:20px 13px}.fes-vendor-menu ul li{border-radius:3px;display:block;float:right;padding:20px;position:relative;right:50%}.fes-vendor-menu ul li a{color:#fff;font-size:16px}.fes-vendor-menu ul li.active,.mp-fes-fullwidth .fes-vendor-menu ul li:hover{background:rgba(255,255,255,0.15) none repeat scroll 0 0}@media screen and (min-width:480px){.edd-wish-list li span.edd-wl-item-title{text-align:right}.edd-wish-list li span.edd-wl-edit{text-align:left}}@media(min-width:768px){.kiwi-nav>li{float:right}.kiwi-nav ul.dropdown-menu .menu-item-has-children>a:after{left:10px;right:auto;content:'\f104'}}@media(max-width:768px){.nav{text-align:right}}@media(max-width:1200px) and (min-width:980px){.mp-full-dashboard .grid-view.three-columns .layout-sorting li:nth-of-type(3n+3){margin-left:0}.grid-view.four-columns .layout-sorting li:nth-of-type(4n+4){margin-left:0}}@media(max-width:979px) and (min-width:768px){.mp-full-dashboard .grid-view.three-columns .layout-sorting li:nth-child(even){margin-left:0}.grid-view.four-columns .layout-sorting li:nth-of-type(4n+4){margin-left:0}}
