/*
Theme Name: قالب مهرآفرین
Description: قالب اختصاص مهرآفرین
Author: میلاد پاکروان
Author URI: http://takexpert.ir
Theme URI: http://takexpert.ir
Template:	kiwi
Tags: one-column,two-columns,three-columns,four-columns,left-sidebar,right-sidebar,featured-images,full-width-template,microformats,post-formats,rtl-language-support,threaded-comments,translation-ready
Text Domain:  kiwi-child
*/

/*---Add Telegram into Social Media---*/
.topbar .socialmedia a:hover .fa-telegram, .mainnav .socialmedia a:hover .fa-telegram, .copyright .socialmedia a:hover .fa-telegram {background: #0088cc !important;}
.fa-telegram:before{content: "\f2c6"}

/*---Add Aparat into Social Media---*/
.fa-aparat:before{content: "\f03d"}
.topbar .socialmedia a:hover .fa-aparat, .mainnav .socialmedia a:hover .fa-aparat, .copyright .socialmedia a:hover .fa-aparat {background: #ED145B !important;}


/*---start Purplize---*/
/* Header And Footer */
.kiwi-nav li a:hover, .kiwi-nav li a:focus {
	background-color: #FFFF66 !important;
}
.kiwi-nav li a:hover, .kiwi-nav li a:active, .kiwi-nav li a:focus, .topbar li.menu-item-has-children ul li.menu-item a:hover {
	color: #800080 !important;
}
.footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6 {
	color: #FFFFFF !important;
}
.footer .footer-widget a, .copyright a, .copyright {
	color: #EEEEEE !important;
}
.footer .footer-widget a:hover, .copyright a:hover, .topbar-features .pull-left.topmenu a:hover {
	color: #FFFF66 !important;
}
.footer .footer-widget ul li {
	border-bottom: none !important;
}
.widget_recent_entries ul li .post-widget-text a {font-size:14px !important;}
.footer .footer-widget h3, .footer .footer-widget ul li {text-align: center;}
.footer .footer-widget ul.menu li {margin-bottom: 10px;}
.footer .row>div:first-child{padding-right: 20px !important;}
.footer .footer-widget.widget_recent_entries ul li{margin-bottom: 5px !important;}

/* Topbar Login/Register */
.topbar li.mp-login, .topbar li.mp-register, .topbar li.pro-vendor {    background-color: #fa5252;
    margin-left: 7px;
}

/* Social Media */
.topbar .socialmedia {
    margin-top: 10px;
}
.topbar .socialmedia li a {
    font-size: 15px;
}

/* Home Page */
.edd_widget_title_vc {
	text-align: center !important;
}
.edd_widget_title_vc h3 {
	padding-right: 10px !important;
	padding-left: 10px !important;
}
body.home {
	background:#FFFFFF;
}
.mp-vc-items .vc-post-items h4 a:hover {
	color: #23527c;
}
/* Marketplace item page */
.widget_edd_product_details.widget-style-two .price.free {
	display: grid !important;
}
.rtl .mp-vc-items .price.free { text-align: center !important; }
input#edd-reviews-review-form-submit {
    background-color: #800080;
    color: #FFFFFF;
}
input#edd-reviews-review-form-submit:hover {
	color: #FFFF66;
}
.edd-reviews-form .login-submit input[type=submit] {
	background-color: #800080;
}
.edd-reviews-form .login-submit input[type=submit]:hover {
	color: #FFFF66 !important;
	text-shadow: none !important;
	border: none !important;
	background: none !important;
	background-image: none !important;
	background-color: #fa5252 !important;
}
@media (max-width: 320px){
	.widget_edd_product_details.widget-style-two .price-button span.text {float:right!important;text-align: right!important;}
	.widget_edd_product_details.widget-style-two .right-column, .widget_edd_product_details.widget-style-two .left-column {flex: auto!important;}
	.widget_edd_product_details.widget-style-two .right-column {float: none!important;margin: 10px 0 0 0;}
}
@media (max-width: 480px) {
    .navbar-header .navbar-toggle {
        background-color: #fa5252 !important;
        color: white;
    }
		/* fix gravityforms address (province and city in responsive) */
		.gf-address-fixed-responsive .address_state,
		.gf-address-fixed-responsive .address_city {
			width: 100% !important;
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
}
@media (min-width: 481px) {
    .marketplace img.wp-post-image {
        width: 100%;
        /*height: 480px;*/
        display: flex;
        margin: 0 auto;
        border:none !important;
    }
}
.thumb-preview .video-container {direction:ltr!important;}

.marketplace .audio-player {direction:ltr!important;}

.widget_edd_product_details.widget-style-two .edd_go_to_checkout {text-align:center;padding: 15px 50px !important;}

.full-description ul li {/*margin: 5px 20px 0 0 !important;*/margin-top:5px !important;}
.full-description ul {padding-left: 0 !important;margin:5px 100px 0 0 !important;}

/* takexpert dynamic button */
.widget_edd_product_details a {color:#FFF !important;}
.takexpert-dynamic-button-caution {display:block;text-align:center;background-color: orange;color: white;padding: 20px;font-size: 15px;font-weight: 300;margin-bottom: 20px;}
.takexpert-dynamic-button-downloaded {display:block;text-align:center;background-color: #92c418;color: white;padding: 10px;font-size: 16px;font-weight: 300;margin-bottom:20px;}
.takexpert-dynamic-button-downloaded:hover{color:#FFFF66 !important;}
.takexpert-dynamic-button-downloaded:before {
    content: "\f019";
    font-family: FontAwesome;
    padding-left: 10px;
}
a.edd-add-to-cart.button.blue.addcart.edd-has-js.takexpert-dynamic-button-downloaded {background-color: #92C418!important;}
.widget_edd_product_details .takexpert-dynamic-button, .required-login .takexpert-dynamic-button {background-color: #fa5252;margin-left: 7px;font-family: "lists-font"!important;font-weight: 300;text-align: center !important;margin-bottom: 0;padding: 8px 20px;border-radius: 3px;font-size: 18px; float: right;
}
.widget_edd_product_details .takexpert-dynamic-button:hover, .required-login .takexpert-dynamic-button:hover{background: #92c418!important;}
/* .edd_download_purchase_form .edd_download_quantity_wrapper {float:right !important; margin: 0 0 0 10px !important; } */
/* .edd_download_purchase_form .edd_download_quantity_wrapper .edd-item-quantity {width: 65px !important;padding: 10px 10px !important;} */
.full-description.comments-closed{margin-bottom: 20px !important;}
.styled-background .mp-product-description{margin-top: 0 !important;}
a.faq.button.takexpert-dynamic-button {margin-left: 5px; background-color: #800080;padding: 5px!important;}
a.faq.button.takexpert-dynamic-button:hover { background-color: #800080 !important; color: #FFFF66 !important;
}
/*---end Purplize---*/

/* Deposit Page Settings */
#edd_wallet_deposit_amount_wrapper ul li {
	float: right;
    margin-bottom: 10px !important;
    width: 100% !important;
}

/* ---start Reponsive Purplize---*/
/* Main Menu Settings */
.topbar-features .menu-item-has-children ul {
		float: right !important;
	}
ul.top-menu li.menu-item-has-children:nth-last-child(-n+3) ul.dropdown-menu {
		left: auto!important;
		right: 0!important;
	}
ul.top-menu li.menu-item-has-children:nth-last-child(-n+2) ul.dropdown-menu {
		left: 0!important;
		right: auto !important;
	}
@media (max-width: 768px){
}
@media (max-width: 767px){
	.kiwi-nav li {
		border-bottom: 1px outset #dbdbdb !important;
	}
}
.kiwi-nav li a{	color: #FFFFFF !important;	}

.navbar-toggle {
	color: #FFFFFF;
}
.rtl .navbar-collapse {
	margin-top: 35px;
}

/* Topbar Settings */

/*.topbar-features .menu-item-has-children ul {
	right: 0;
}
.topbar-features .pro-downloads ul {
	min-width: 175px !important;
}
*/



/*---end Reponsive Purplize---*/

/* Registery Form */
/*
.entry-content.kiwi-page p {
	margin: 20px 40px 0 !important;
}
*/


/* Download History Page */
#edd_user_history td.edd_download_download_files .edd_download_file a {
	float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

/* Purchase Confirm Page */
h2.mp-invoice-title {
	text-align: right !important;
}
#edd_purchase_receipt_products li.edd_download_file {
	display: inline-block;
}

/* Purchase Block 2 Widget */
.widget_edd_product_details.widget-style-two .edd-wl-action { float: right; }
.takexpert-dynamic-button-downloaded, .widget_edd_product_details.widget-style-two .edd_purchase_submit_wrapper a.edd-add-to-cart.edd-has-js {padding: 15px 20px !important;}
/* .widget_edd_product_details.widget-style-two .edd_purchase_submit_wrapper a.edd-add-to-cart.edd-has-js, .widget_edd_product_details.widget-style-two .edd_go_to_checkout { margin-bottom: 0px !important; padding: 15px 0px !important;} */
.widget_edd_product_details.widget-style-two .edd_go_to_checkout { font-family: inherit !important; }
/* .widget_edd_product_details.widget-style-two .edd_purchase_submit_wrapper { display: inline-block !important;} */
.edd_purchase_button {display: block !important;}

/* Checkout Page */
#edd_checkout_wrap .edd_form {padding: 0 !important;border:none !important;}
/* #edd_checkout_form_wrap #edd_payment_mode_select, #edd_checkout_form_wrap fieldset#edd_register_fields #edd_checkout_user_info, #edd_checkout_form_wrap fieldset {margin-right: 40px;} */
#edd_purchase_form_wrap p.takexpert-checkout-register-warning  {color: red;}
#edd_purchase_form_wrap p.takexpert-checkout-register-warning, #edd_purchase_form_wrap p.takexpert-checkout-login-warning{padding-right:40px;}
#edd_purchase_form_wrap p.takexpert-checkout-register-warning a {background-color: #fa5252; color: white;padding: 3px 8px 3px 8px;}

/* FAQ Plugin */
.qe-faq-content {background-color: #fff; padding-right: 10px; margin-bottom: 20px; }
.qe-faq-content ul{padding-right: 70px;}
.qe-faqs-index {background-color: #9400d3;color: #fff;
     margin-bottom: 20px;}
.qe-faqs-index ol li a {color: #fff;}
.qe-faqs-index ol li {padding: 10px 0 10px 0;border-bottom: 1px outset;}
.qe-faqs-index ol li a:hover {color: #FFFF66;}
.qe-faq-content h4 {background-color: #9400d3; padding: 10px; color: #fff;}
.qe-faq-content .qe-faq-top{margin-top: 1em;}
.qe-faq-content a img, .qe-toggle-content a img {border: 3px solid #9400d3;}
.qe-faq-toggle .qe-toggle-title {background-color: #9400d3 !important;color: #fff !important;}
.qe-faq-toggle .qe-toggle-title:hover{background-color: #9400d3 !important;color:#ffff00 !important;}
.qe-toggle-content{background-color: #fff;}
.qe-toggle-content ul li {padding: 0 40px 10px 0 !important;}
.qe-toggle-content ul li:before {content: " - ";}

/* UPME */
.form-submit input.submit, input[type="submit"], a.upme-button, input[type=submit].upme-button, input[type=button].upme-button, button.upme-button {background: #fa5252 !important;color: #fff !important;}
span.upme-required, span.upme-not-required { margin-right: 2px; }
@media (max-width: 1023px){
		.upme-field-value { width: 100% !important;margin-top: 10px;}
}
@media (min-width: 1024px){
		.upme-field-value { width: 55% !important;}
		.upme-forget-footer .upme-field-value { width: 65% !important;}
}
div.upme-head { display: none;}
#upme-forgot-pass-1, .upme-login-register-link, #upme-back-to-login-1 {
	background: #9400d3 !important;
	color: #fff !important;
	border: 0;
	text-shadow: none;
	font-size: 14px;
	box-shadow: 0 0 2px #B5B5B5;
	transition: all .3s;
	margin-top: 15px;
	border-radius: 3px;
	cursor: pointer;
	text-decoration: none;
	padding: 6px 12px !important;
}
input.upme-button.upme-login {
		margin-top: 12px !important;
}
.upme-rememberme {
	text-align: center !important;
}
#upme-forgot-pass-btn-1 {margin-top: 0px !important;margin-left: 0px !important;display: inline-block;}
.upme-back-to-login {margin-top: 6px !important;display: inline-block;}
#takexpert-extra-reg-links {margin-top: 30px;display: inline-block;float: right;}

/* contact form 7 */
.wpcf7-form textarea, .wpcf7-form input { width: 100% !important;}
div.wpcf7{direction:rtl;}

/* Hide nocaptcha recaptcha Right Icon */
.grecaptcha-badge {display:none !important;}

/* send button in comments */
.form-submit input.submit, input[type="submit"] {padding: 8px 12px !important;}

/* Notification Area */
.takexpert-notification p {color: #ffff00;}
/* recent success */
.more-btn .more-link, .recent-success .more-link, .takexpert-notification a.faq.button.takexpert-dynamic-button {background-color: #fa5252 !important;color:#fff !important;padding: 2px 7px;float:none !important;}
.more-btn .more-link:hover, .recent-success .more-link:hover, .takexpert-notification a.faq.button.takexpert-dynamic-button:hover{background-color: #fa5252 !important;color: #ffff00 !important;}
.recent-success .vc-post-items .excerpt.text p {
	font-size: 14px !important;
	margin: 0 0 10px 0 !important;
}

/* Success Panel */
.row.success-panel {
    border-bottom: 2px outset;
    margin-bottom: 20px;
}
.upme-field-type i, .upme-post-field-type i{
    float: right !important;
    margin-left: 5px;
}
.upfp-post-field-value {
    float: right !important;
}
.upme-post-list-field, .upme-custom-post-list-field {
    padding-bottom: 20px !important;
}
.success-section {
    background-color: #F8F8FF;
}
.upfp-posts-label, .upfp-posts-field, .upfp-required {
	float: right !important;
}
.upfp-posts-label {
	width: 120px !important;
    font-size: 16px;
    font-weight: bold;
}
#upfp_post_submit {
    float: right !important;
    width: 100px;
}
@media (max-width: 374px){
    #upfp-posts-new #upfp_init_create_post {
        margin: 5px 0 !important;
    }
}
@media (max-width: 767px) {
    .upfp-post-field-value {
        width: auto !important;
    }
}
.upme-profile-tab-panel {
    padding: 0 !important;
}
.upfp-post-field-buttons {
    width: 75px !important;
}


/* Hide Post Meta Data */
.meta-category-single {
    display: none;
}

/* UPME */
.upme-field-type {
    float: right !important;
    width: auto !important;
}
input.upme-button.upme-login {
    margin-left: 15px;
    margin-top: 15px;
}


/* marketplace widget more button */
.mp-vc-readmore {
    float: right !important;
    background-color: #fa5252 !important;
    padding: 7px 7px;
    font-size: 14px !important;
    margin: 10px 0px 20px 0px !important;
}
.mp-vc-readmore a {
	color: #fff !important;
}
.mp-vc-readmore a:hover {
	background-color: #fa5252 !important;
    color: #ffff00 !important;
}

/* sections has required login */
.required-login {
    text-align: center;
    /*background-color: lightyellow;*/
    font-size: 18px;
    font-weight: 400;
    padding: 30px 0px;
}
.required-login p {
    color: red;
}
.required-login .takexpert-dynamic-button {
    color: white;
}
.help-buttons {
    display: inline-flex;
}

/* contact form 7 fields */
.wpcf7-form-control-wrap {
    margin: 0 auto !important;
    display: inline-block !important;
}
.wpcf7-form input[type="submit"] {
    margin: 0 auto;
    width: auto !important;
}

/* fix edd price show in home page */
.mp-vc-items.mp-vc-edd-widget .vc-post-items h4 {
    display: block;
}

/* add border to vc items */
.vc-post-items {
    margin-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(219, 219, 219);
}

/* fix topbar position */
.topbar{
    padding-top: 10px;
}

/*.product-description .thumb-preview {
    background-color: white;
}*/
.thumb-preview .featured-item-ribbon {
    display: none !important;
}

/* success page */
#add-new-success a.vc_btn3.vc_btn3-color-danger.vc_btn3-style-modern {
    display: block;
    margin: 0 auto !important;
}
.vc_btn3-container.vc_btn3-inline.add-new-success-btn {
    display: flex;
}
#success-template .grid-masonry.three-columns.index-layout.category {
    width: 100%;
    margin: 0 auto;
}

#success-template .kiwi-postformat.meta-data {
    display: none;
}

#success-template .container.kiwi-content {
    margin: 0 auto !important;
}

/* Head Tags in Marketplace item page */
.full-description h1, .full-description h2, .full-description h3, .full-description h4, .full-description h5, .full-description h6 {
  border-bottom: 0px !important;
  border-top: 0px !important;
}


/* MarketPlace News Block and success recent */
@media (max-width: 285px){
	.edd-news-block-widget .mp-vc-items .vc-post-items h4 {
		height: 85px;
	}
	.recent-success .vc-post-items .excerpt.text p {
		height: 75px;
	}
	.recent-success .vc-post-items .excerpt.notext p {
		height: 40px;
	}
	.mp-vc-items .vc-post-items .widget-download-price {
		display: block;
		margin: 5px 0 10px 0;
		text-align: center;
	}
}
@media (min-width: 286px) and (max-width: 680px){
	.edd-news-block-widget .mp-vc-items .vc-post-items h4 {
		height: 65px;
	}
	.recent-success .vc-post-items .excerpt.text p {
		height: 50px;
	}
	.recent-success .vc-post-items .excerpt.notext p {
		height: 15px;
	}
	.mp-vc-items .vc-post-items .widget-download-price {
		display: block;
		margin: 5px 0 10px 0;
	}
}
@media (min-width: 680px) and (max-width: 767px) {
	.edd-news-block-widget .mp-vc-items .vc-post-items h4 {
		height: 50px;
	}
	.recent-success .vc-post-items .excerpt.text p {
		height: 25px;
	}
	.recent-success .vc-post-items .excerpt.notext p {
		height: 15px;
	}
	.mp-vc-items .vc-post-items .widget-download-price {
		display: block;
		margin: 5px 0 10px 0;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.edd-news-block-widget .mp-vc-items .vc-post-items h4{
		height: 119px;
	}
	.recent-success .vc-post-items .excerpt.text p {
		height: 100px;
	}
	.recent-success .vc-post-items .excerpt.notext p {
		height: 65px;
	}
	.mp-vc-items .vc-post-items .widget-download-price {
		display: block;
		margin: 5px 0 10px 0;
		text-align: center;
	}
}
@media (min-width: 992px) and (max-width:1199px) {
	.edd-news-block-widget .mp-vc-items .vc-post-items h4{
		height: 94px;
	}
	.recent-success .vc-post-items .excerpt.text p {
		height: 75px;
	}
	.recent-success .vc-post-items .excerpt.notext p {
		height: 40px;
	}
	.mp-vc-items .vc-post-items .widget-download-price {
		display: block;
		margin: 5px 0 10px 0;
		text-align: center;
	}
}
@media (min-width: 1200px) {
	.edd-news-block-widget .mp-vc-items .vc-post-items h4{
		height: 69px;
	}
	.recent-success .vc-post-items .excerpt.text p {
		height: 50px;
	}
	.recent-success .vc-post-items .excerpt.notext p {
		height: 15px;
	}
	.mp-vc-items .vc-post-items .widget-download-price {
		display: block;
		margin: 5px 0 10px 0;
	}
}

.recent-success .vc-post-items .excerpt.text p {
	margin: 0px 0px 10px 0px!important;
}

.mp-vc-items .vc-post-items h4 a {
	font-size: 16px !important;
}
.more-btn {
    margin-bottom: 15px;
}
.mp-vc-items .vc-post-items h4 a {
    height: 50px;
}

/* success post page */
.post-previous, .post-next {
    border: 5px solid;
    border-color: #fff;
    float: right !important;
}
.post-standard .grid-excerpt p {
    height: 75px !important;
}

/* post formats */
article.format-chat .entry-content, article.format-video .video-content,
article.format-image .image-content, article.format-link .link-content,
article.format-audio .entry-content .audio-content,
article.format-gallery .gallery-content {
    padding: 0px 20px 10px 20px !important;
}

/* .format-standard .post-standard {
    padding: 20px !important;
} */

.format-audio .audio-player {
    margin-top: 20px;
}
article.format-audio .entry-content .audio-content {
    border: none !important;
}

/* kiwi pagination and edd pagination */
.kiwi-pagination, #edd_download_pagination {
    text-align: center;
}
.kiwi-pagination .pagination-title {
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

/* products page fix height */
.marketplace .mp-equal-heights .iso-thumbnail img, .marketplace .mp-equal-heights .video-container {
    height: 320px !important;
    margin: 0 auto !important;
    width: auto !important;
}
.marketplace .mp-equal-heights .iso-thumbnail .audio-player,
.marketplace .mp-equal-heights .iso-thumbnail .cart {
    display: none !important;
}
.marketplace .mp-equal-heights .video-container .mejs-poster {
    background-image: none !important;
}
.marketplace .mp-equal-heights .video-container .mejs-poster img {
    width: 100% !important;
    height: 100% !important;
}
.marketplace .mp-equal-heights .iso-desc .mp_author .more-btn .more-link {
    font-size: 14px;
}
.marketplace .excerpt {
    height: 55px;
}
.mp-vc-items .item-price.soon {
    color: #92c418 !important;
    font-size: 18px !important;
    font-weight: normal !important;
}

/* EDD profile page */
#edd_profile_editor_form label { min-width: 150px !important;}
.edd_widget_title h3 {color: #9400d3 !important;padding-right: 10px !important;}
.edd_widget_title {margin: 45px 0 !important;}
@media (max-width: 767px){
	#edd_profile_editor_form input, #edd_profile_editor_form select, #edd_profile_editor_form textarea {
		width: 100% !important;
	}
	.edd_widget_title h3{line-height: 25px !important;}
}
@media (min-width: 768px){
	#edd_profile_submit_wrap {
    margin: 0 auto !important;
    text-align: center;
	}
}
#edd_profile_editor_form {text-align: center !important;}
#edd_profile_editor_form input[type="submit"] {width: 200px !important;margin-top: 10px;font-size: 16px;line-height: 30px;}

/* Hide backtotop button */
#backtotop {display: none !important;}

/* reservation form style */
.reservation .vc_column-inner {
	//background-color: #ffffe0 !important;
}
.reservation input.wpcf7-form-control.wpcf7-submit {
	display: block;
    width: 60% !important;
    margin-top: 30px;
}

/* confirm purchase page */
#edd_purchase_receipt_products li.edd_download_file {
	margin: 10px 10px 0 0 !important;
}
.sidebar-layout {
  position: inherit !important;
}

/* edd customer dashboard*/
table tr:nth-child(even) {
	background: #f2f2f2 !important;
}

/* edd points and rewards */
.edd-points-redeem-points-wrap form {
	float: left !important;
}
#edd_checkout_form_wrap .edd-points-redeem-message {
  margin-right: 0px !important;
}

/* checkout page */
#edd_discount_code{
	margin: 0px !important;
	border: 1px solid #e8e8e8!important;
}
#edd_purchase_form #edd_purchase_submit {
	margin: 0px 20px;
}
#edd_final_total_wrap {
	display: inline-block;
	float: right;
	padding: 15px !important;
	border: 1px solid #e8e8e8!important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
#edd-purchase-button {
	display: inline-block;
  float: left;
  font-size: 16px !important;
	padding: 12px 10px !important;
}
#edd_show_discount {
  margin-bottom: 0px !important;
}


/**************************************************/
.edd-points-redeem-points-wrap {
	margin-bottom: 0px !important;
  background: #fafafa !important;
}
.edd-description {
	margin: 0px 0px 10px 0px !important;
  width: 100% !important;
	/* height: 50px; */
 }
#edd-discount-code-wrap-custom {
	height: 100% !important;
}
.discounts-tabs label.edd-label {
	color: #666;
}
.discounts-tabs {
	margin: 20px 20px !important;
}
.edd-points-checkout-message {
	margin-bottom: 20px !important;
	border: none !important;
	color: #666 !important;
	background: #fafafa !important;
  border: 1px solid #e8e8e8 !important;
}
.edd-points-redeem-points-wrap #edd_points_apply_discount {
	margin-top: 4px !important;
	height: 40px !important;
}
.edd-apply-discount {
	font-size: 14px;
}
#edd_checkout_cart .edd_cart_header_row th {
	text-align: center;
}
#edd_checkout_form_wrap {
	background: #fff;
}
i.fa.fa-percent {
	font-size: 24px;
  color: #800080;
  margin-right: 12px;
}
.edd_cart_discount_row .edd_cart_fee_amount {
    color: #800080 !important;
}
.edd_discount_remove {
	display: inline-block;
	padding-top: 10px;
	margin-left: 15px;
	background: none !important;
	width: auto !important;
  height: auto !important;
	top: 0px !important;
}
.edd-description.edd-points-remove-disocunt-message {
	padding-top: 8px;
}
.edd_cart_points_row .edd_cart_fee_amount {
	color: #800080 !important;
}
.edd_checkout_cart_item_title {
	display: inline-block;
}
#edd_checkout_cart tfoot th {
	text-align: center;
	padding-right: 0px !important;
}
#edd_checkout_cart .edd_cart_total {
	padding-right: 60px !important;
	font-size: 16px !important;
  font-weight: bold !important;
}
.edd_cart_remove_item_btn, .edd_discount_remove {
	margin-left: 0px !important;
	background: #fa5252!important;
	color: #fff !important;
  border: 1px solid #fa5252!important;
	padding: 2px 7px !important;
	float: left;
}
.edd_cart_remove_item_btn:hover, .edd_discount_remove:hover {
	background: #92C418!important;
  color: #fff!important;
  border: 1px solid #92C418!important;
}
.edd_cart_actions {
	vertical-align: middle !important;
}
#edd_checkout_cart .edd-item-quantity {
  margin: 0px 10px 10px 10px;
}
@media (max-width: 360px){
	.edd-discount-code-field-wrap {
		display: block !important;
	}
	#edd_discount_code .edd-input, #edd_discount_code .edd-apply-discount {
		width: 100% !important;
		margin-bottom: 10px;
	}
	.edd-points-redeem-points-wrap .edd-submit {
		width: 100% !important;
	}
	.edd-description {
		display: inline-block !important;
	}
	#edd_checkout_cart td {
		padding: .5em 0em !important;
		vertical-align: middle !important;
	}
	#edd-purchase-button, #edd_final_total_wrap {
		width: 100% !important;
	}
	#edd_final_total_wrap {
		margin-bottom: 10px !important;
	}
	#edd_checkout_cart .edd_cart_total {
		font-size: 14px !important;
	}
	#edd_final_total_wrap * {
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	.edd_cart_remove_item_btn, .edd_discount_remove {
		margin-left: 5px !important;
	}
}
@media (min-width: 361px) {
	.edd-discount-code-field-wrap {
		display: flex;
	  flex-direction: row;
	}
	.edd-discount-code-field-wrap .edd-input {
		flex-grow: 2;
	}
	.edd-discount-code-field-wrap .edd-apply-discount {
		float: left !important;
	  flex-grow: 1;
	  margin-right: 5px !important;
	}
}
@media (max-width:480px){
	#edd_checkout_cart .edd_cart_total {
		padding-right: 0px !important;
    text-align: center !important;
	}
}
@media (max-width: 680px){
	.discounts-tabs {
		display: block !important;
	}
	.edd-points-redeem-points-wrap, #edd_discount_code {
		display: inline-block !important;
		width: 100% !important;
	}
	.edd-points-redeem-points-wrap {
		margin-bottom: 20px !important;
	}
	.edd-points-redeem-points-wrap .edd-submit {
		float: left;
	}
}
@media (min-width: 681px){
	.discounts-tabs {
		display: flex !important;
	}
	.edd-points-redeem-points-wrap, #edd_discount_code {
		display: inline-block !important;
	  width: 50% !important;
	}
}
.mainnav .header-row-one {
background-color: #800;
}

.topbar {
background-color: #800;
}

/* change article title color */
.kiwi-single-pt .entry-title {
    color: #9400d3 !important	;
}

/* fix player in responsive */
.wp-video .mejs-container.mejs-container-fullscreen {
	padding-top: 0 !important;
}

/* change reply comment style */
.comment-author-takexpert { color: #800080; }

/* hide approved text in comments section */
.fes-light-green { display: none !important;}

/* fix ul position in post layout */
.post-layout ul {padding-right: 20px !important;}

/* fix help style in market product page */
.help {display: flex;}
.help, .auth {margin-bottom: 10px !important;}
.mp-social-buttons { display: none !important;}

/* gravityforms */
.gf-responsive-quantity-size select{
	width: 20% !important;
}
.gfield_radio li { display:block!important; }
/*body.rtl .gform_wrapper ul li * { text-align: center!important; }*/
/*.gform_body * { text-align: center!important; }*/
.gform_next_button, .gform_previous_button, .gform_button{
	text-align: center!important;
	background-color: #9400d3!important;
	color: #FFFFFF!important;
}
.gform_next_button:hover, .gform_previous_button:hover, .gform_button:hover{
	color: #FFFF66 !important;
}
.gform_wrapper .gfield_radio li label {margin: 2px 10px 0 4px!important;}
.gf-section { background-color: #fff1b5!important;}


/* wpdiscuz */
.wc_save_edited_comment {
	width: 200px !important;
}
#wpcomm .wc-reply.wc_comment_level-2 {
	margin-right: 25px !important;
}
.wc-cta-button, .wc-cta-button-x, .wpdiscuz-readmore {
	background: #800080!important;
	border: 1px solid #800080!important;
	color: #FFFFFF !important;
	margin-left: 10px !important;
}
#wpcomm .wc-cta-button:hover, #wpcomm .wc-cta-button-x:hover, .wpdiscuz-readmore:hover {
	color: #FFFF66 !important;
}
.wpdiscuz-form-top-bar, .wpdiscuz-front-actions { display: none !important; }


/* post page */
.kiwi-content img.featured-image { width: 100% !important; }

/* video cointainer in text block */
.mejs-mediaelement {
    height: 90% !important;
}

#edd_checkout_form_wrap fieldset p:last-child
{width: 100% !important;}


/* custom box */
.custom-box
{
	float: right;
	width: 100%;
	box-sizing:border-box;
	background-color:white;
	margin: 10px 0px;
}
.custom-box .custom-header
{
	background-color: #800080;
	color: white;
	font-size: 20px;
	border:none;
}
.custom-box li
{
	list-style-type:none;
	border-bottom: 1px dashed #CEE3F6;
	height:70px;
	line-height:70px;
	text-align: center;
}
.custom-box .edd_price {
	font-size: 18px;
}
.custom-box .custom-body {
    display: block !important;
}
.custom-box .custom-body span {
  display: inline-block !important;
	margin-left: 10px !important;
}
.mp-vc-items del {
  text-decoration: none;
  position: relative !important;
  font-size: 14px !important;
}
.mp-vc-items del:before {
  content: " ";
  width: 100%;
  border-top: 2px solid rgba(255, 0, 0, .8);
  height: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(-7deg);
}
.mp-vc-items ins {
  font-size: 18px;
  text-decoration: none;
  padding: 1em 1em 1em .5em;
  position: relative !important;
}
.custom-box .edd_price {color: #800080;}


/* edd points and awards */
.styled-background .edd-points-product-message { padding: 0px !important;}
.edd-points-product-message .custom-body span {	font-size: 12px !important;}


/* edd comming soon in download vc widget */
.widget-download-price .custom-box {
	width: auto;
	margin: 0px;
}
.widget-download-price .custom-box .custom-header{
	display: none !important;
}
.mp-vc-items .widget-download-price del,
.widget-download-price .custom-box .custom-body span { float: right !important;}
.widget-download-price .custom-box li {border-bottom: none !important;}
@media (min-width: 768px and max-width:1024){
	.widget-download-price .custom-box {  }
}

/* .takexpert-dynamic-button-downloaded:before {
    content: "\f019";
    font-family: FontAwesome;
    padding-left: 10px;
} */
